@import url(./font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #E5E5E5;
    font-family: Rubik;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 15px;
    width: 100px;
    overflow: hidden;
    transition: 0.5s;
}

.nav:hover {
    width: 234px;
}

.header__list {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 55px;
}

.header__link {
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: #939393;
    font-size: 18px;
    line-height: 21px;
}

.header__link:hover {
    color: #2A86B1;
}

.header__link:hover path {
    fill: #2A86B1;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;

}

.header__content {
    background: #fff url(../image/bg.png) no-repeat center/cover;
    min-height: 500px;
    margin-top: 30px;
    border-radius: 14px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-left: 62px;
}

.header__title {
    width: 332px;
    font-size: 50px;
    line-height: 59px;
    color: #464748;
    position: relative;
    z-index: 1;
}

.header__title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 50px;
    background: #3FA5D5;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.header__txt {
    width: 314px;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #696868;
}

.btn {
    background: #3FA5D5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    text-align: center;
    color: #fff;
    padding: 7px 0;
}

.header__btn {
    width: 211px;
}

.btn:hover {
    background: #2A86B1;
}

.card {
    background: #FFFFFF;
    border-radius: 15px;
    width: 255px;
    min-height: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 18px;

}

.about__title {
    color: #2A86B1;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.about__btn {
    width: 100%;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about {
    padding-top: 30px;
}

.news {
    padding-top: 48px;
}

.news__title {
    color: #686868;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
}

.news__descriptions {
    max-width: 825px;
    width: 100%;
}

.news__txt {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
}

.news__txt:not(:nth-of-type(3)) {
    margin-bottom: 15px;
}

.news__content {
    display: flex;
    justify-content: space-between;
}

.news__comment {
    display: flex;
    flex-direction: column;
}

.news__comment-inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news__comment-item {
    width: 255px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.news__comment-title {
    font-size: 17px;
    line-height: 94.5%;
    color: #323232;
}

.news__comment-txt {
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    line-height: 94.5%;
    margin-top: 5px;
}

.footer {
    background: #3FA5D5;
    padding: 40px 0;
    margin-top: 44px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    row-gap: 15px;
}

.footer__title {
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.footer__number {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer__email {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}